name: Build

on: [push, pull_request]

jobs:
  build-wheels-linux:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python_build: [cp311-manylinux_aarch64]
        os: [ubuntu-latest]
    env:
      CIBW_ARCHS: aarch64
      CIBW_BUILD: ${{ matrix.python_build }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        with:
          package-dir: quickfix-py
        env:
          CIBW_BEFORE_ALL_LINUX: 'uname -a && ls -la && ./setup-linux-yum.sh'
          CIBW_BUILD: ${{ matrix.python_build }}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.python_build }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build-wheels-osx:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python_build: [cp311-macosx_arm64]
        os: [macos-14]
    env:
      CIBW_ARCHS: 'auto'
      CIBW_BUILD: ${{ matrix.python_build }}

    steps:
      - uses: actions/checkout@v4

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        with:
          package-dir: quickfix-py

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.python_build }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Optional, use if you use setuptools_scm
        submodules: true  # Optional, use if you have submodules

    - name: Build SDist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz

  upload_all:
    needs: [build-wheels-linux, build-wheels-osx, make_sdist]
    environment: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: cibw-*
        path: dist
        merge-multiple: true

    - uses: pypa/gh-action-pypi-publish@release/v1